In [7]:
# iterable
# function
mylist=[10,20,30]

def square(num):
  return num**2

out = map(square,mylist)
next(out)
next(out)

400

In [6]:
mylist=[10,20,30]

def square(num):
  return num**2

list(map(square,mylist))

[100, 400, 900]

In [9]:
mylist=[10,20,30]

def square(num):
  return num**2

list(map(square,mylist))
list(map(lambda num:num**2,mylist))

[100, 400, 900]

In [10]:
mylist=[10,20,30]

def square(num):
  return num**2

list(map(lambda num:num**2,mylist))

[100, 400, 900]

In [12]:
list(map(lambda num:num%3==0,mylist))

[False, False, True]

In [13]:
list(filter(lambda num:num%3==0,mylist))

[30]

exception handling

In [15]:
#handling the errors => terminate
print(10)
print(num231)
print("hey")

10
hey

In [16]:
try :
  print(10)
  print(num231)
  print("hey")
except:
  print("error occur")

10
error occur

In [17]:
try :
  print(10)
  print(num231)
  print("hey")
except NameError as e:
  print("error occur",e)

10
error occur name 'num231' is not defined

In [18]:
try :
  print(10)
  print(num231)
  "hey"+10
except (NameError,TypeError)as e:
  print("error occur")

10
error occur

In [20]:
try :
  print(10)
  "hey"+10
  print(num231)

except (NameError,TypeError)as e:
  print("error occur",e)

10
error occur can only concatenate str (not "int") to str

In [21]:
try :
  print(10)
  print(num231)
  "hey"+10
except (NameError,TypeError)as e:
  print("error occur",e)
except Exception as e:
  print("All erroe occured",e)

10
error occur name 'num231' is not defined

In [22]:
try :
  print(10)
  print(num231)
  "hey"+10
except (NameError,TypeError)as e:
  print("error occur")
finally:
  print("hey")

10
error occur
hey

In [ ]:
#3sum smaller
given an array of n integer nums and a target ,find the number of index triplets i,j,k with 0<=i<j<k<n that satisfy the condition nums[i]+nums[j]+nums[k]<target
#

In [27]:
    num=[-2,0,1,3]
    target=2
    count=0
    n=len(num)
    nums=sorted(num)
    for i in range(n - 2):
        left = i + 1
        right = n - 1
        while left < right:
            current_sum = nums[i] + nums[left] + nums[right]
            if current_sum < target:

                count += right - left
                left += 1
            else:
                right-= 1

                return count

SyntaxError: 'return' outside function (<ipython-input-27-27d108150f79>, line 18)

In [28]:
def three_sum_smaller(num, target):
    count = 0
    n = len(num)
    nums = sorted(num)

    for i in range(n - 2):
        left = i + 1
        right = n - 1
        while left < right:
            current_sum = nums[i] + nums[left] + nums[right]
            if current_sum < target:
                count += right - left
                left += 1
            else:
                right -= 1

    return count

# Example usage
num = [-2, 0, 1, 3]
target = 2
result = three_sum_smaller(num, target)
print(result)

2