In [1]:
# wrey a program to TAKE a list of lists and flattens ir into one single list.
input=[[1,2,3],[4,5,6],[7,8,9]]
output=[1,2,3,4,5,6,7,8,9]

In [2]:
def flattens_list(nested_list):
  flat_list = [item for sublist in nested_list for item in sublist]
  return flat_list
print(flattens_list(input))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# write a python function to find the second largest element in a list.
input= [12,34,43,13,98]
output = 43

In [6]:
def second_largest(numbers):
  unique_numbers = list(set(numbers))
  unique_numbers.sort()
  return unique_numbers[-2]

print(second_largest(input))

43

In [8]:
# write a function that rotates a list to the right by a given numbers of steps
input = [1,2,3,4,5,6] # steps = 2
output = [5,6,1,2,3,4]

In [9]:
def rotate_list(list, steps):
  steps  = steps % len(list)
  rotated_list = list[-steps:] + list[:-steps]
  return rotated_list
print(rotate_list(input,2))

[5, 6, 1, 2, 3, 4]

In [10]:
# prompt: # write a function to find all  pairs of  list  that sum upto a target  value.
# input = [1,2,3,4,5] # target = 5
# #  output = [(1,4),(2,3),(3,2),(4,1)]

def find_pairs(input_list, target):
  pairs = []
  seen = set()
  for num in input_list:
    complement = target - num
    if complement in seen:
      pairs.append((num, complement))
      pairs.append((complement, num)) # Include reverse pairs
    seen.add(num)
  return pairs

input_list = [1, 2, 3, 4, 5]
target_value = 5
result = find_pairs(input_list, target_value)
result

[(3, 2), (4, 1)]

In [13]:
# wriet a function to find the common elements between two lists without duplicat
input1 = [1,2,3,4,5]
input2 = [4,5,6,7,8]
output = [4,5]
def find_common_elements(list1, list2):
  return list(set(list1) & set(list2))


print(find_common_elements(input1,input2))

[4, 5]

In [ ]:
# write a python program  to reverse the elements of a list.
# example inputr = [1,2,3,4,5] output = [5,4,3,2,1]

In [14]:
# wrietea program to remove duplicater from a program
# example inputr = [1,2,2,3,4,4,5] output = [1,2,3,4,5,]

In [15]:
# write a program to sort a list of numbers in scending order
# example inputr = [13,54,76,34,87,] output =

In [16]:
# write a program to count how many times an element PPEARS in alist
# example inputr = [1,2,3,4,5] element = 2 output = 3

In [ ]:
# write a program to find the sum of all even numbers in a list
# example inputr = [1,2,3,4,5] output = 15