In [4]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(n):

    print("#",end=" ")
  print()

          # # # # #
        # # # # #
      # # # # #
    # # # # #
  # # # # #

In [10]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(n):

    print(j+1,end=" ")
  print()

          1 2 3 4 5
        1 2 3 4 5
      1 2 3 4 5
    1 2 3 4 5
  1 2 3 4 5

In [13]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(n):

    print(i+1,end=" ")
  print()

          1 1 1 1 1
        2 2 2 2 2
      3 3 3 3 3
    4 4 4 4 4
  5 5 5 5 5

In [16]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(n):
    print(chr(65+j),end=" ")
  print()

          A B C D E
        A B C D E
      A B C D E
    A B C D E
  A B C D E

In [17]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(n):
    print(chr(65+i),end=" ")
  print()

          A A A A A
        B B B B B
      C C C C C
    D D D D D
  E E E E E

In [20]:
# 1.Program to create a list of the first 25 odd numbers
odd_number = [num for num in range(1, 50) if num % 2 != 0]
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]